doctype html
block vars
if !title_full
  - title_full = title + " - Xin-Xin Wang"
html(lang="en", id=pageid, itemscope, itemtype="http://schema.org/WebPage", prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    title= title_full
    link(rel="shortcut icon", href="/img/logo.ico")
    link(rel="apple-touch-icon image_src", href="/img/logo.158.png")
    meta(property="og:type", content="website")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site" content="@xinxinw1")
    meta(property="og:image", itemprop="image primaryImageOfPage", content="http://xin-xin.me/img/logo.316.png")
    meta(name="twitter:title", property="og:title", itemprop="title name", content=title_full)
    if description
      meta(name="twitter:description", property="og:description", itemprop="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet", href="/3rdparty/hljs/github-gist.css")
    script(src="/3rdparty/hljs/highlight.pack.js")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
    include analytics.pug
    block head
  body
    #outer
      header
        .table
          .td: a(href="/") Xin-Xin Wang
          nav.td
            ul#nav-hori
              li: a(href="/code") Code
              li: a(href="/math") Math
              li: a(href="/music") Music
              li: a(href="/contact") Contact
            #nav-drop-cont
              ul#nav-drop(onclick="closeNav();")
                li: a(href="/code") Code
                li: a(href="/math") Math
                li: a(href="/music") Music
                li: a(href="/contact") Contact
              a#nav-link(href="#", onclick="openNav(); return false;")
                img(src="/img/menu.png", width="26", height="26", alt="Menu")
      block article
        article
          block content
      footer
        p &copy; #{new Date().getFullYear()} Xin-Xin Wang
        p This website is #[a(href="https://github.com/xinxinw1/xin-xin.me") open source] and is licensed under #[a(href="https://creativecommons.org/licenses/by-nd/4.0/") CC BY-ND].
    #overlay
